<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/allsensor_2d_wyh.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename allsensor_2d_wyh.lua"
      output="screen">
    <remap from="/scan" to="/scan" />
    <remap from="/points2" to="/velodyne_points" />
    <remap from="/imu" to="/imu/data_raw" />
    <remap from="/odom" to="/odom/by_wheel" />
  </node> -->

  <arg name="bag_filenames" default="/home/wyh/cartographer_bag/0323/02_2021-03-23-15-32-11.bag" />

  <node name="cartographer_offline_node" pkg="cartographer_ros"
      type="cartographer_offline_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basenames allsensor_2d_wyh_outdoor.lua
          -urdf_filenames $(find cartographer_ros)/urdf/allsensor_2d_wyh.urdf
          -bag_filenames $(arg bag_filenames)"
      output="screen">
      <!-- <remap from="/scan" to="/scan" /> -->
      <remap from="/points2" to="/velodyne_points" />
      <!-- <remap from="/imu" to="/imu/data_raw" /> -->
      <!-- <remap from="/odom" to="/odom/by_wheel" /> -->
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
